*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.continer{
	width: 100%;
	height: 47px;
}
.continer-child{
	width: 84%;
	height: 47px;
	margin: 0 auto;
	/*background-color: orange;*/
}
.logo{
	width: 13%;
	height: 47px;
	display: inline-block;
	/*background-color: green;*/
	float: left;
}
.logo img{
	width: 130px;
	padding: 9px 10px 7px 0;
}
.region{
	width: 10%;
	height: 47px;
	/*background-color: pink;*/
}
.menu-child{
	display: inline-block;
}
.menu-child li {
	display: inline-block;
    text-decoration: none;
    padding: 10px 16px;
    color: gray;
}
.menu-child li a{
	color: gray;
	text-decoration: none;
}
.menu{
	float: left;
	display: inline-block;
	width: 50%;
	height: 47px;
}
.menu-child li:nth-child(4){
	padding: 1px 6px;
	border: 2px solid red;
	border-radius: 10px;
	font-family: sans-serif;
}
.float-right{
	float: left;
	/*background-color: blue;*/
	width: 28%;
	height: 47px;
}
.float-right span{
	display: block;
	color: gray;
	font-size: 14px;

}
.float-right a{
	font-size: 11px;
	color: gray;
}
.float-right-child{
	float: right;
}
nav{
	width: 100%;
	height: 65px;
	background-color: #FF5F00;
}
.continerbar{
	width: 80%;
	height: 65px;
	/*background-color: pink;*/
	margin: 0 auto;
}
.menubar a{
	text-decoration: none;
	color: white;
}
.menubar li{
	display: inline-block;
    text-decoration: none;
    padding: 3px 21px;
}
.menubar img{
	width: 43px;
    margin: 0 auto;
    display: block;
}
.menubar span{
	display: block;
}
.iconbar i{
	padding: 7px;
	font-size: 17px;
	color: gray;
}
.continer-row{
	width: 100%;


	/*background-color: red;*/
}
.row{
	width: 200px;
	height: 340px;
	margin: 50px 0 0 80px;
	border: 1px solid;
	overflow: hidden;
	/*background-color: blue;*/
}
.imgbar{
	width: 100%;
	height: 55%;
}
.imgbar img{
	width: 100%;
	height: 100%;
}
.textbar{
	width: 100%;
	height: 44%;
	
}
.textbar span:nth-child(1){
	font-size: 14px;
	color: gray;
	display: block;
	text-align: center;
}
.textbar span{
	display: block;
	margin: 10px 0 0 5px;
	font-size: 20px;
}
.textbar2:hover{
	display: none;
}
.eow1{
	width: 300px;
	height: 400px;
	border: 1px solid;
	position: relative;
}
.eow1:before{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
transition: 2s;


}

.eow1:hover:before{
	content: '';
	background: rgba(0,0,255,0.3);
}

.flexrow{

	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	z-index: 10;
	/*background: red;*/
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}
.eow1:hover .flexrow{
	
	display: flex;
}
.row2{
	position: relative;
	width: 500px;
	height: 200px;
	border: 1px solid;
	/*display: inline-block;*/

}
.row2:after{
	position: absolute;
	content: '';
	width: 64%;
	height: 100%;
	border: 1px solid;
	background: red;
}
.row2:before{
	content: '';
	width: 40px;
	height: 40px;
	background: blue;
	position: absolute;
	left: 100%;
	top: 40%;
}
.continer-parent{
	display: flex;
}
aside{
	display: inline-block;
	/*background-color: red;*/
	width: 25%;
	height: 1150px;
}
.aside-continer{
	width: 87%;
	height: 98%;
	margin: 10px auto;
	/*background: pink;*/
}
.aside-item-1{
	background-color: #FBFBFB;
	width: 100%;
	height: 48%;
	/*background: orange;*/
	padding: 5px 0;
}
.aside-item-1 input{
	display: block;
	width: 87%;
	/*height: 30px;*/
	margin: 0 auto;
	border-radius: 50px;
	font-size: 17px;
	padding: 6px 12px;
}
.price-time{
	border: 1px solid;
	width: 84%;
	height: 430px;
	margin: 32px auto 0 auto;
}
.imgbar{
	width: 100%;
	height: 232px;
}
.imgbar img{
	display: block;
	width: 95%;
	margin: 0 auto;
}
.time{
	width: 99%;
	height: 76px;
	margin: 0 auto;
}
.time div{
	color: white;
	padding: 6px 0 0 0;
	text-align: center;
	display: inline-block;
	width: 23.6%;
	height: 21px;
	background: #EA4C4C;
}
.info{
	/*background: pink;*/
	width: 100%;
	height: 100px;
}
.info h5{
	margin: 0 10px;
    font-size: 20px;
    font-weight: 500;
    color: #7E7E7E;
}
.star{
	margin: 11px 0 0 10px;
}
.star span{
	color: #FFA500;
}
.pricebar{
	margin: 6px 0 0 10px;
}
.pricebar span:nth-child(1){
	color: #e95668;
    font-weight: 700;
    font-size: 16px;
    opacity: .7;
}
.pricebar span:nth-child(2){
	text-decoration: line-through;
    color: #666;
    opacity: .7;
}
.pricebar span:nth-child(3){
    color: #666;
    opacity: .7;
}
.aside-item-2{
	width: 100%;
	height: 44%;
	/*background: green;*/
}
.titlebar{
	width: 100%;
	height: 10%;
}
.titlebar h5{
	font-size: 16px;
	margin-top: 25px;
    font-weight: 700;
    padding: 5px 2px;
    color: #7E7E7E;
}
.hr{
	width: 100%;
	height: 4px;
	background: #4789BA;
}
.present{
	width: 100%;
	height: 117px;
	/*background: red;*/
	padding-top: 10px;
	cursor: pointer;
}
.present:hover{
	padding: 20px 0 0 5px;
	transition: 1s;
}
.barimg{
	display: inline-block;
	width: 40%;
	height: 100%;
	/*background: pink;*/
}
.barimg img{
	width: 100%;
	height: 100%;
	border: 1px solid gray;
}
.bartext{
	display: inline-block;
	width: 58.493%;
	height: 100%;
	/*background: blue;*/
	float: right;
}
.bartext h6{
	font-size: 14px;
    font-weight: 600;
    color: gray;
}
.spanbar{
	margin-top: 5px;
}
.spanbar span:nth-child(1){
	color: #e95668 ;
    display: inline-block ;
    font-size: 20px ;
    font-weight: 700 ;
    margin-right: 5px ;
}
.spanbar span:nth-child(2){
	color: #666;
    opacity: .7;
}
.barspan{
	margin-top: 5px;
}
.barspan span{
	color: #FFA500;
}
.barspan span:nth-child(5){
	color: #7E7E7E;
}
.bt{
	padding: 8px 0;
	color: white;
	background: #92D625;
	margin: 5px 0;
	border: none;
	width: 98%;
	cursor: pointer;
}
section{
	display: inline-block;
	width: 75%;
	height: 800px;
	/*background: blue;*/
}
.abar{
	padding: 10px;
	margin-left: 65px;
}
.abar a{
	font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    color: gray;
}
.abar i{
	margin: 0 10px;
	color: gray;
}
.abar span:hover{
	text-decoration: underline;
}
.bt2{
	margin: 12px 0 0 15px;
}
.bt2 button{
	border: none;
	padding: 10px 12px;
	cursor: pointer;
	font-size: 16px;
	background: #F8F9FA;
	border-radius: 4px;
}
.bt2 button:hover{
	background: #838996;
	transition: 1s;
}
.product{
	cursor: pointer;
	padding: 5px;
    display: inline-block;
    margin: 10px 21.6px 0 28px;
    width: 188px;
    height: 320px;
    /*background: red;*/
    border: 1px solid #EDEDED;
}
.product:hover{
	border: 1px solid black;
	transition: 1s;
}
.continer-img img{
	width: 100%;
	margin-bottom: 10px;
}
.continer-text h5{
	color: #EB4D4D;
	font-size: 20px;
    font-weight: 500;
    text-align: center;
}
.resTime {
    border-radius: 10px;
    padding: 0px 7px;
    border: 1px solid #ededed;
    color: red;
    width: 63px;
    margin: 10px auto;
}
.timeRes{
	border-radius: 10px;
    padding: 3px 7px;
    border: 1px solid #ededed;
    border-top: none;
    border-bottom: none;
}
.sp{
	display: block;
	padding: 5px 0;
}
.sp2{
	display: block;
	float: right;
}
.paralax{
	width: 100%;
	height: 200px;
	background: url("https://img4.goodfon.com/wallpaper/nbig/0/32/meat-tomatoes-salat-fastfud-fast-food-sendvich-hamburger-pom.jpg")no-repeat fixed;
	background-size: cover;
}